PORT=3000
NODE_ENV=production
DATABASE_URL=postgresql://postgres:your_password@your-render-db.render.com/wassalni?ssl=true
DATABASE_SSL=true
JWT_SECRET=your_super_secret_jwt_key_wassalni_2026
ADMIN_EMAIL=mastersniper823@gmail.com
ADMIN_PASSWORD=sniper927MUHAMMAD
SHAM_CASH_ACCOUNT=0998877665
